.portfolio-navbar{
    font-size: xx-large;
    backdrop-filter: blur(10px);
    position:fixed;
    z-index: 1000;
}

.portfolio-navbar-brand{
    color: #4464AD;
    font-weight: bold;
    font-family: "Rock Salt";
    font-size: x-large;
}

.portfolio-navbar-button{
    background-color: white;
    color: #4464AD;
    border: 1px solid #4464AD;
    border-radius: 5px;
    padding: 5px 10px;
}

.portfolio-navbar-link{
    color: rgb(71, 71, 71);
    font-weight: bold;
    font-family: "Roboto";
    font-size: xx-large;
    font-variant-caps: all-petite-caps;
    margin-right: 25px;
}

